@media only screen and (max-width: 480px) {
    footer {
        padding: 5px 0; 
    }
    header img{
        max-width: 40px;
        border-radius: 50%
    }

    main {
        padding: 60px 20px;
        font-size: 90%;
    }

    h1{
        font-size: 24px
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li{
        margin: 10px 0;
    }

    nav a, nav span {
        font-size: 14px;
    }
    
    nav a:hover {
        font-size: 10px;
    }
}
