
/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: #d7bdf0;
  }
  
  body {
    width: 100%;
    min-width: 800px;
    margin: 0 auto;
  }
  
  /* || typography */
  
  h1, h2, h3 {
    font-family: 'Cinzel Decorative', cursive;
    color: #423c3c;
  }
  
  p, input, li {
    font-family: 'Roboto Condensed', sans-serif;
    color: #817f7f;
  }
  
  h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(170, 106, 143);

  }
  
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  
  h3 {
    font-size: 2.2rem;
  }

topic{
  font-size: 100px;
}

  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  /* || header layout */
  
  header {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    border-color: #ec88cb;
  }
  
  body > * {
    background-color: beige;
    background-image: url(Visuals/flowers.jpg);
    padding: 0%;
    width: 100%
  }
  
  main, header, nav, article, aside, footer, section {
    background-color: rgba(241, 155, 220, 0.644);
    padding:0%
  }
  
  h1 {
    flex: 5;
    text-transform: uppercase;
  }
  
  header img {
    max-width: 59px;
    border-radius: 50%;
  }
  
  nav {
    height: 50px;
    flex: 100%;
    display: flex;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
    align-items: center;
  }
  
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  
  }
  
  /* || main layout */
  
  main {
    display: flex;
  }
  
  article, section {
    flex: 4; 
    color:aliceblue;
  }
  
  aside {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
  }
  
  aside a {
    display: block;
    float: left;
    width: 50%;
  }
  
  aside img {
    max-width: 100%;
  }
  
  footer {
    text-align: center;
    background: linear-gradient(#ec88cb, #c5c6d8);
    font-size: 1.69em;
    width:100%;
  }

  .logo img{
    display: block;
    margin-left: 10px;
    margin-right: auto;
    
  }
